body {
    font-family: 'Staatliches', cursive;
    margin: 0;
}
section {
    height: 500px;
    width: 100%;
}
.top-w {
    width: 40%;
    float: left;
    padding: 40px;
    margin: 5px;
    
}
.top-w img {
    width: 100%;   
}
h1 {
    font-size: 50px;
}
.head1 {
    color: rgb(79, 22, 133);
}
.head2 {
    color: tomato;
}
.but1 {
    text-decoration: none;
    background-image: linear-gradient(45deg,lightsalmon, tomato);
    padding: 10px 30px;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    
}
.but2 {
    text-decoration: none;
    background-image:linear-gradient(90deg,rgb(47, 47, 243),rgb(180, 12, 180));
    padding: 10px 30px;
    border-radius: 4px;
    color: white;
    font-weight: 700;
}
#mid {
    text-align: center;
}
.trip {
    width:20%;
    float: left;
    padding: 25px;
    margin: 60px;
    box-shadow: 1px 1px 15px;
    border-radius: 5px;
    
}
.trip img {
    width: 100%;
    height: 100%;}


.inq {
    width: 100%;
    background: url("personal-website-main/shapes/Group_33094_1.png");
    background-size: 70% ;
    background-repeat: no-repeat;
    background-position-x: center;
}
#wi {
    font-size: 55px;
 position: absolute;
 left: 300px;
 top: 2772px;
 color: white;    
}
.socks {
    position: absolute;
    left:900px;
    top: 2855px
}

.icon img {
    width: 30%;
    
}
.icon {
    float: left ;
    position:relative;
    left: 540px;
}
#sc {
    text-align: center;
    color: grey;
    font-size: 24px;
}
#email {
    text-align: center;
    font-size: 36px;
}
#ending {
    height: 250px;
}
.pro {
    text-decoration: none;
    color: black;
}